<div class="ui {{isLoggedIn()?'six':'five'}} item tabs menu">
  <a routerLink="home" routerLinkActive="active" class="item">Home</a>
  <a routerLink="vaccinations" routerLinkActive="active" class="item">Impfungen</a>
  <a routerLink="locations" routerLinkActive="active" class="item">Orte</a>
  <a *ngIf="isLoggedOut()" routerLink="users" routerLinkActive="active" class="item">Registrierung</a>
  <a *ngIf="isLoggedIn()" routerLink="admin" routerLinkActive="active" class="item">Impf-Administration</a>
  <a *ngIf="isLoggedIn()" routerLink="newlocations" routerLinkActive="active" class="item">Ort-Administration</a>
  <a routerLink="login" routerLinkActive="active" class="item">{{getLoginLabel()}}</a>
</div> 
<router-outlet></router-outlet>

