<div class="content">
    <p><i class="fa fa-caret-right"></i> Impfung am Standort {{vaccination.location.place}}:</p>
    <div class="description">Impfdatum: {{ vaccination.date | date:'EEEE dd MMMM, yyyy' }}</div> 
    <div class="amount">Anzahl an bereits belegten Plätzen: {{vaccination.users.length}} / {{vaccination.amount}}</div>
    <br>
    <p>Um genaueres zu Erfahren wählen Sie den Button:</p>
    <button class="ui tiny blue button">Zu den Details</button>
    <br>
    <br>
  </div>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">