<div class="ui container">
<div class="item">
  <div class="content">
    <h1 class="header">Übersicht über die Impfung am Standort {{vaccination.location.place}}</h1>
  <div class="info">
    <p>Allgemeine Informationen zum Standort {{vaccination.location.place}}:</p>
    <table>
      <p>- Bezirk: {{vaccination.location.place}}</p>
      <p>- Dazugehörige Postleitzahl: {{vaccination.location.plz}}</p>
      <p>- Straße und Hausnummer: {{vaccination.location.street}}, {{vaccination.location.streetnumber}}</p>
    </table>
  </div>
  <br>
  <div class="info2">
    <p>Allgemeine Informationen zur Impfung am {{vaccination.date | date:'EEEE dd MMMM, yyyy'}}:</p>
    <table>
      <p>- Start: {{vaccination.start}}</p>
      <p>- Ende: {{vaccination.end}}</p>
      <p>- Anzahl angemeldeter Personen: {{vaccination.users.length}} / {{vaccination.amount}}</p>
    </table>
  </div>
  </div>
  <br>

  <div *ngIf="activeUser?.admin == true && authService.isLoggedIn()" class="content">
  <p>Allgemeine Informationen der angemeldeten Personen:</p>
  <table class="ui six column table">
        <thead>
          <tr>
            <th>Vorname</th>
            <th>Nachname</th>
            <th>SVNR</th>
            <th>EMAIL</th>
            <th>Telefonnummer</th>
            <th>Geburtsdatum</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of vaccination.users; last as l">
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.svnr}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.bdate}}</td>
            <td><button (click)="removePerson(user.id)">Person löschen</button></td>
          </tr>
        </tbody>
  </table>
  </div>
</div>
<br>

<button [routerLink]="'/vaccinations'" class="ui tiny red button">Zurüch zur Ansicht</button>

<button *ngIf="authService.isLoggedIn()" class="ui tiny green icon button" [routerLink]="['../../users',vaccination?.id]">Hier Anmelden</button>
<!--
<button *ngIf="authService.isLoggedIn()" class="ui tiny red labeled icon button" (click)="removeVaccination()">
  <i class="remove icon"></i>Impfung löschen</button>
<a *ngIf="authService.isLoggedIn()" class="ui tiny yellow labeled icon button"[routerLink]="['../../admin',
vaccination?.id]"><i class="write icon"></i>Impfung bearbeiten</a> --> 

<button *ngIf="activeUser?.admin == true && authService.isLoggedIn()" class="ui tiny red labeled icon button" (click)="removeVaccination()">
  <i class="remove icon"></i>Impfung löschen</button>
<button *ngIf="activeUser?.admin == true && authService.isLoggedIn()" class="ui tiny yellow labeled icon button"[routerLink]="['../../admin',
vaccination?.id]"><i class="write icon"></i>Impfung bearbeiten</button> 
<button *ngIf="activeUser?.admin == true && authService.isLoggedIn()" class="ui tiny green labeled icon button" [routerLink]="['../../admin']"><i class="write icon"></i>Impfung erstellen</button> 

</div>